{% extends "base.html" %}

{% block conteudo %}

<form>
    {{form}}

</form>

<div class="container ">
    <div class="row corpotx bg-light">
    
        <div class="corpotxt">
            <h4>Bem-vindo à Taygra</h4>

<p>TAYGRA é uma marca patenteada na INPI que existe desde 1989. Fundada em 1989, por um artesão Mineiro talentoso, o Marquinhos, se desenvolveu aos poucos no fundo do quintal e a travès do futebol de salão. Conheceu expansão relativa via sacoleiros e venda de porta-porta, nas feirinhas e aos poucos entrou em lojas turisticas e academias, dojos e abriu lojas proprias depois de 2000.</p>

<p>Com o crescimento da marca, ela passou a ser exportada e foram montadas franquias da TAYGRA em países Europeus em 2006 tal qual França, onde a empresa Tropic Concept centralizou a distribuição Europeia e investiu em desenvolvimento de modelos novos com a ética do comercio justo e sustentável.</p>

<p>Logo no fim do ano 2008, a Tropic Concept, representante internacional da TAYGRA fora do Brasil, acrescentou uma pegada ecologicamente correta com o uso de materiais alternativos nas produções, tal qual o couro vegetal amazônico, o algodão naturalmente colorido da Paraiba, e o lançamento do maior plano de reflorestamento solidário Curupira. Abriu-se varias franquias na Europa e ilhas do Caríbe. </p>

<p>Em 2011 as empresas fusionaram e a TAYGRA montou loja física e sede no Brasil em Caraguatatuba / SP, e começou a desenvolver diversos trabalhos com a lona de caminhão reciclada. Depois da abertura de demais lojas no Brasil se mudou para a cidade de Paraty no Rio de Janeiro, onde esta até hoje, com a loja TAYGRA localizada na entrada do centro histôrico do Patrimônio Mundial da humanidade.</p>

<p>A TAYGRA hoje virou o xodó dos bailarinas no Brasil e no mundo a fora, pois adotaram os calçados da marca pelo seu grande conforto, flexibilidade e opções de cores. Mas os produtos também encantam os aventureiros que gostam de trilhar, os motociclistas, os camponeiros, os citadinos, os esportistas de varias especialidades, seja, todos os amantes de produtos originais e sustentáveis, exclusivos e artesanais, o que a marca TAYGRA proposita ao mercado.</p>


    </div>
    
    </div>
    </div>
{% endblock conteudo %}